/* login.css - Estilos personalizados para Login.js */

body {
    font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    font-weight: 600;
}

.login-container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #f1f5f9;
    /* similar a bg-blueGray-100 */
    background-image: url('hotel-las-islas-bungalow2webp.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.aviatur-logo-text {
    font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    /* peso aproximado del logotipo (ajusta a 600/700 si lo necesitas) */
    font-weight: 700;
    /* color aproximado azul de marca — lo ajustaré al hex exacto cuando tenga el SVG */
    /*color: #0066cc;*/
    /* tamaño y espaciado sugerido */
    font-size: 28px;
    letter-spacing: 0.02em;
    line-height: 1;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    color: white;
}


/*.login-card {
    width: 100%;
    max-width: 33.333%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: #e2e8f0;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}*/

.login-card {
    width: 100%;
    max-width: 33.333%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background: rgba(255, 255, 255, 0.15);
    /* fondo semitransparente */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
    color: white;
}

.login-button {
    background-color: white;
    color: #4a5568;
    /* blueGray-700 */
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 0.375rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 150ms ease-in-out;
}

.boton {
    background-color: #025DB8
}

.boton-text {
    font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    font-weight: 700;
    font-size: 1rem;
}

.login-button:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

h1 {
    COLOR: #ffffff;
    font-size: 2.5rem !important;
    text-align: center;
}